<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student ERegistrar :: System Administration</title>



    </head>
        <body>

            <header th:replace="fragment/header :: header"></header>

            <main>
                <br>
                <h1>System Administration</h1>

                <hr>


                <nav>
                    <ul class="nav nav-pills">
                        <li class="nav-item">

                            <a class="btn btn-primary" aria-current="page"href="/secured/student/list">Students</a>
                        </li>
                    </ul>

                </nav>
            </main>
            <footer th:replace="fragment/footer :: footer"></footer>
        </body>
    </html>